@media screen and (min-width:376px) {
  .btn {
    height: 42px;
    width: 70px;
    border-right: 4px;
    background: #f6f6f6;
    display: block;
    margin-top: 0px;
    }
}

@media screen and (max-width:375px) {
  .btn {
    width: 31px;
    border-radius: 0 0 4px 4px;
    background: #f6f6f6;
    height: 42px;
    display: block;
    }
    img {
      position: relative;
    height: 13.15px;
    width: 22.22px;
    margin-left: 12,78px;
    float: right;
  }
}
